*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#9eaba2 0%, #a3a398 60%, #355070 100%);
    /* background-image: url(./assest/img/bgregist.jpg); */
    font-family: tahoma,sans-serif;
}
.main{
    border: 1px solid white;
    border-radius: 6px; 
    background: transparent;
    backdrop-filter: blur(20px);
    width: 500px;
    height: 100%;
    justify-content: center;
    justify-items: center;
    margin:20px auto;
    padding: 8px 8px;
    color: rgb(246, 241, 241);
   
    
}
h1{
    text-align: center;
    color: white;
    padding: 10px 10px;
}